@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 800;
  src: url('../../assets/fonts/StatsfmSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 800;
  font-style: italic;
  src: url('../../assets/fonts/StatsfmSans-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 700;
  src: url('../../assets/fonts/StatsfmSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 800;
  font-style: italic;
  src: url('../../assets/fonts/StatsfmSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 500;
  src: url('../../assets/fonts/StatsfmSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 500;
  font-style: italic;
  src: url('../../assets/fonts/StatsfmSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 400;
  src: url('../../assets/fonts/StatsfmSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 300;
  font-style: italic;
  src: url('../../assets/fonts/StatsfmSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 300;
  src: url('../../assets/fonts/StatsfmSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 100;
  font-style: italic;
  src: url('../../assets/fonts/StatsfmSans-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Statsfm Sans';
  font-weight: 100;
  src: url('../../assets/fonts/StatsfmSans-Thin.ttf') format('truetype');
}
