@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/Open-Sans-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("../assets/fonts/Open-Sans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../assets/fonts/Open-Sans-Regular.ttf") format("truetype");
}
