@import url(./font.scss);
@import url(./reset.scss);
@import url(./variables.scss);
@import url(./animations.scss);

body {
  font-family: var(--font-text);
  font-weight: var(--weight-normal);
  background-color: var(--color-body-primary);
  color: var(--color-text-primary);
  overflow-x: hidden;
}
