:root {
  --color-primary: rgb(30, 215, 96);
  --color-body-primary: rgb(17, 17, 18);
  --color-body-secundary: rgb(24, 24, 28);

  --color-text-primary: rgb(255, 255, 255);
  --color-text-secundary: var(--color-primary);
  --color-text-grey: rgb(114, 114, 114);

  --border: rgba(255, 255, 255, 0.1);

  --radius-default: 18px;
  --radius-circle: 50%;
  --radius-small: 6px;

  --shadow-xs: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  --shadow-xxl: 0px 10px 100px 50px rgba(0, 0, 0, 0.1);

  --space-xxl: 128px;
  --space-xl: 64px;
  --space-l: 48px;
  --space-m: 24px;
  --space-s: 16px;
  --space-xs: 8px;
  --space-xxs: 4px;

  --size-xxxl: 64px;
  --size-xxl: 48px;
  --size-xl: 36px;
  --size-l: 24px;
  --size-m: 16px;
  --size-s: 13px;
  --size-xs: 11px;

  --font-heading: "Open Sans";
  --font-text: "Open Sans";

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-normal: 400;
  --weight-light: 300;

  --duration-quickly: 0.08s;
  --duration-normal: 0.2s;
  --duration-slowly: 0.5s;

  --primary-button-bg: rgba(30, 215, 96, 0.1);
  --primary-button-bg-hover: rgba(30, 215, 96, 0.15);
  --primary-button-bg-active: rgba(30, 215, 96, 0.05);
  --primary-button-text: var(--color-primary);
}

.color-text-grey {
  color: var(--color-text-grey);
}

.flex {
  display: flex;
}

.gap-xxs {
  gap: var(--space-xxs);
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-s {
  gap: var(--space-s);
}

.gap-m {
  gap: var(--space-m);
}

.gap-l {
  gap: var(--space-l);
}

.gap-xl {
  gap: var(--space-xl);
}

.gap-xxl {
  gap: var(--space-xxl);
}

.gap-xxl {
  gap: var(--space-xxxl);
}

// margin top
.mt-xs {
  margin-top: var(--space-xs);
}

.mt-s {
  margin-top: var(--space-s);
}

.mt-m {
  margin-top: var(--space-m);
}

.mt-l {
  margin-top: var(--space-l);
}

.mt-xl {
  margin-top: var(--space-xl);
}

.mt-xxl {
  margin-top: var(--space-xxl);
}

.mt-xxxl {
  margin-top: var(--space-xxxl);
}

// margin right
.mr-xs {
  margin-right: var(--space-xs);
}

.mr-s {
  margin-right: var(--space-s);
}

.mr-m {
  margin-right: var(--space-m);
}

.mr-l {
  margin-right: var(--space-l);
}

.mr-xl {
  margin-right: var(--space-xl);
}

.mr-xxl {
  margin-right: var(--space-xxl);
}

.mr-xxxl {
  margin-right: var(--space-xxxl);
}

// margin bottom
.mb-xs {
  margin-bottom: var(--space-xs);
}

.mb-s {
  margin-bottom: var(--space-s);
}

.mb-m {
  margin-bottom: var(--space-m);
}

.mb-l {
  margin-bottom: var(--space-l);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-xxl {
  margin-bottom: var(--space-xxl);
}

.mb-xxxl {
  margin-bottom: var(--space-xxxl);
}

// margin left
.ml-xs {
  margin-left: var(--space-xs);
}

.ml-s {
  margin-left: var(--space-s);
}

.ml-m {
  margin-left: var(--space-m);
}

.ml-l {
  margin-left: var(--space-l);
}

.ml-xl {
  margin-left: var(--space-xl);
}

.ml-xxl {
  margin-left: var(--space-xxl);
}

.ml-xxxl {
  margin-left: var(--space-xxxl);
}

// size
.size-xs {
  width: var(--size-xs);
  aspect-ratio: 1;
}

.size-s {
  width: var(--size-s);
  aspect-ratio: 1;
}

.size-m {
  width: var(--size-m);
  aspect-ratio: 1;
}

.size-l {
  width: var(--size-l);
  aspect-ratio: 1;
}

.size-xl {
  width: var(--size-xl);
  aspect-ratio: 1;
}

.size-xxl {
  width: var(--size-xxl);
  aspect-ratio: 1;
}

.size-xxxl {
  width: var(--size-xxxl);
  aspect-ratio: 1;
}
